img{
    width: 200px;
    height: 200px;
    border: solid black;
    margin: auto;
    display: flex;
    justify-content: center;
}
div{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}
.likes{
    padding: 5px;
}